@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body{
  min-height: 100vh;
  background: linear-gradient(#fff, #F2DBEB);

}

nav{
position: fixed; /* Fixed at the top */
display: flex;
height: 80px;
width: 100%;
align-items: center;
justify-content: space-between;
padding: 5px 15px;
flex-wrap: wrap;
background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white */
color: white;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
z-index: 100;
}
nav .logo{
color: #fff;
font-size: 15px;
font-weight: 600;
}
nav ul{
display: flex;
flex-wrap: wrap;
list-style: none;
}
nav ul li{
margin: 0 5px;
}
nav ul li a{
color: #f2f2f2;
text-decoration: none;
font-size: 14px;
font-weight: 500;
padding: 5px 10px;
border-radius: 5px;
letter-spacing: 1px;
transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
color: #111;
background:  #F2DBEB;
}
nav .menu-btn i{
color: #fff;
font-size: 22px;
cursor: pointer;
display: none;
}
input[type="checkbox"]{
display: none;
}
@media (max-width: 1000px){
  nav{
  padding: 0 40px 0 50px;
}
}
@media (max-width: 920px) {
  nav .menu-btn i{
  display: block;
}


#click:checked ~ .menu-btn i:before{
  content: "\f00d";
}
nav ul{
  position: fixed;
  top: 80px;
  left: -100%;
  background: #111;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: block;
  transition: all 0.3s ease;
}
#click:checked ~ ul{
  left: 0;
}
nav ul li{
  width: 100%; 
  margin: 40px 0;
}
nav ul li a{
  width: 100%;
  margin-left: -100%;
  display: block;
  font-size: 20px;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
#click:checked ~ ul li a{
  margin-left: 0px;
}
nav ul li a.active,
nav ul li a:hover{
  background: none;
  color: cyan;
}
}
section{
position: relative;
width: 100%;
height: 100vh;
padding: 100px;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
}
/* for adding downside img fade  */
section::before{
content: '';
position: absolute;
bottom: 0;
width: 100%;
height: 100px;
background: linear-gradient(to top, #1c0522, transparent);
z-index: 15;
}

section img{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
pointer-events: none;
overflow: hidden;
}

section img#moon{
mix-blend-mode: screen;
}

section img#mountains_front {
z-index: 10;
}


#btn{
  text-decoration: none;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #2b1055;
  font-size: 1.5em;
  z-index: 9;
  transform: translateY(100px);
}

.sec{
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2{
  font-size: 3.5em;
  margin-bottom: 10px; 
  color: #fff;
}

.sec p{
  font-size: 1.2em; 
  color: #fff;
}

.centered-text {
  position: relative; /* Adjust if necessary for your layout */
  z-index: 20;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 2rem;
  background: linear-gradient(to right, #cba6c3 0%, #a8849e 50%, #7c527f 100%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s linear infinite;
}

@keyframes shine {
  0% {
      background-position: 0 0;
  }
  60% {
      background-position: 100% 0;
  }
  100% {
      background-position: 200% 0;
  }
}

#------------------------------------------------------------------------------------------------------------------------------------------

:root {
  --deep-pink: #FF1493;
  --medium-pink: #FF69B4;
  --light-pink: #FFB6C1;
  --dark-pink: #C71585;
}

#about {
  background-color: #F2DBEB;
  padding: 20px ;
  color: var(--medium-pink);
  font-family: 'Playfair Display', serif;
}

#about .container {
  max-width: 2000px;
  margin-right: 100px;
  margin: auto;
  padding: 0px;
}

.about-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 350px; /* Adjust the width to be larger */
  height: auto; /* Maintain aspect ratio */
  margin-top: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}

.text-content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
}

#about-name {
  font-family: 'League Spartan', sans-serif;
  font-size: 36px;
  color: var(--deep-pink);
}

#role {
  color: #C71585;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#about p {
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

.social-links {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.social-icon {
  padding: 10px;
  margin: 0 5px;
  background: #334455;
  color: #ffffff;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
}

a.btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border: none;
  font-size: 20px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
}

a.btn:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

a.btn:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#B0578D, #D988B9, #FACBEA, #FFE4D6);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

a.btn:hover::before {
  filter: blur(20px);
}

a.btn:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
}

@media (max-width: 767px) {
  .about-profile {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .profile-img {
    margin-bottom: 20px;
  }

  .text-content {
    max-width: 100%;
  }
}


#-------------------------------------------------------

html, body {
  height: 100%; /* Ensure the full height is used */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  overflow-x: hidden; /* Prevent horizontal scroll */
}

.container {
  display: flex;
  justify-content: space-around; /* Space items evenly */
  align-items: center; /* Center items vertically */
  height: 100vh; /* Use full screen height */
  width: 100%; /* Full width */
  margin: 0 auto; /* Center horizontally */
}

.skills-container, .chart-container, .text-container {
  flex: 1; /* Each section takes equal space */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally in each container */
  padding: 0 20px;
}

.chart-container {
  justify-content: center;
  min-width: 300px;
}

.text-container {
  align-items: flex-start; /* Align text to the start of the container */
  text-align: left; /* Left align text for better readability */
}

#doughnutChart {
  width: 100%; /* Full width of its container */
  height: auto; /* Maintain aspect ratio */
  max-width: 300px; /* Maximum width */
  max-height: 300px; /* Maximum height */
}

.skill label {
  font-size: 16px;
  color: #333;
  margin-bottom: 5px;
  text-align: left;
  width: 100%;
}

.progress-container {
  background-color: #ddd;
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  background-color: #92608A;
  border-radius: 10px;
  color: white;
  text-align: right;
  line-height: 20px;
  padding-right: 5px;
  transition: width 2s ease;
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }

  .skills-container, .chart-container, .text-container {
    width: 100%;
    align-items: center;
    text-align: center;
    padding: 10px 0;
  }

  .skill label, .text-container {
    text-align: center;
  }
}




#------------------------------------

#projects {
  text-align: center;
  margin-top: 50px; /* Adds some space at the top of the project section */
}

.card-container {
  display: flex;
  overflow-x: auto; /* Allows horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling effect */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  gap: 50px;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: whitesmoke;
  box-shadow: 1px 1px 12px #000;
  transform: preserve-3d;
  perspective: 2000px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}

.cover {
  position: absolute;
  top: 0;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  transform-origin: left;
  box-shadow: 1px 1px 12px #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.book:hover .cover {
  transform: rotateY(-80deg);
}

p {
  font-size: 20px;
  font-weight: bolder;
  margin: 0; /* Removes default margin to help center the text properly */
}

.navigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  cursor: pointer;
  font-size: 24px;
  user-select: none;
  color: #333; /* Ensures the arrows are visible on a light background */
  background-color: rgba(255, 255, 255, 0.7); /* Light background for visibility */
  padding: 10px; /* Adequate padding for clickable area */
  border-radius: 50%; /* Circular shape */
}

.navigation.left {
  left: 10px; /* Positions the left arrow at the left edge of the container */
}

.navigation.right {
  right: 10px; /* Positions the right arrow at the right edge of the container */
}
